@import "normalize.css";
@import "/node_modules/react-day-picker/src/style.css";

@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
  --foreground: #161618;
  --foreground-hover: #2e353e;
  --foreground-muted: #9ca3af;
  --foreground-primary: #2E5482;
  --background: #fff;
  --background-focus: #f6f8fa;
  --background-hover: #f6f8fa;
  --background-border: #e3e8ee;
  --background-secondary: #f6f8fa;
  --background-danger: #ef4444;
  --background-warning: #f59e0b;
  --background-success: #84cc16;
  --screen-desktop: 1440px;
  --screen-tablet: 768px;
  --font-family: "Reddit Sans", Arial, Helvetica, sans-serif;
}

.dark {
  --foreground: #fff;
  --foreground-hover: #f6f8fa;
  --foreground-muted: #d1d5db;
  --background: #161618;
  --background-focus: #3a3e44;
  --background-hover: #0a0a0b;
  --background-border: #232931;
  --background-secondary: #0a0a0b;
}

body {
  font-size: 14px;
  background-color: var(--background);
  color: var(--foreground);
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--font-family);
}

hr {
  width: 100%;
  height: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--background-border);
}

nav,
section {
  width: 100%;
  max-width: var(--screen-desktop);
  padding: 0 1.5rem;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

h2,
.h2 {
  font-size: 3rem;
  font-weight: 400;
}

h3,
.h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

small {
  font-size: 0.8rem;
}

:focus-visible {
  outline: none;
}

table {
  width: 100%;

  thead {
    background-color: var(--background-secondary);

    th {
      padding: 0.5rem;
      font-size: 0.7rem;
      font-weight: 400;
      text-align: left;

      &:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }

      &:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }
  }

  td {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid var(--background-border);
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 0.85;
}

.dialog-line {
  width: 1px;
  background-color: var(--foreground);
  transform: skew(-20deg)
}

@import "utils";
@import "badge";
@import "dialog";
@import "dropdown";
@import "form";
@import "informative";
@import "guest-layout";
@import "authenticated-layout";
@import "home";
@import "rich-text-editor";
@import "file-input";
@import "calendar";