.authenticated-layout {
  min-height: 100vh;
  background-color: var(--background-secondary);

  .logo {
    font-size: 1.25rem;
  }

  header {
    background-color: var(--background);
  }

  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
  }

  main {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: var(--screen-desktop);
    min-height: calc(100vh - 4rem);

    aside {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      min-width: 8rem;

      a.active {
        background-color: var(--background);
        border-color: var(--background-border);
      }
    }

    .panel {
      flex: 1;
      padding: 1.5rem;
      background-color: var(--background);
      border-radius: 1rem;
      box-shadow: var(--background-border) 0px 1px 2px 0px;
    }
  }
}