.dialog {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;

  &.visible {
    display: flex;
  }
}

.dialog-body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 20rem;
  max-width: 35rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background);
  color: var(--foreground);

  &.fullscreen {
    width: calc(100vw - 2rem);
    height: calc(100vh - 2rem);
    max-width: unset;
  }

  h3 {
    font-size: 1rem;
    font-weight: 700;
  }

  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}