.page-layout {
  --foreground: #333;
  --background-border: #d4d4d4;

  color: var(--foreground);
  background-color: var(--background-muted);

  header {
    position: relative;
    display: flex;
    align-items: center;
    height: 5rem;
    max-width: var(--screen-desktop);
    padding: 0 1.5rem;
    margin: 0 auto;
    z-index: 1;
    gap: 6rem;

    .address {
      flex: 1;
      position: relative;
      left: 1.75rem;

      &::before {
        content: '';
        position: absolute;
        display: block;
        top: -2rem;
        left: -1.75rem;
        height: 12rem;
        width: 1.75rem;
        border-left: 1px dashed var(--background-border);
      }
    }
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }
}