.muted {
  color: var(--foreground-muted);
}

.danger {
  color: var(--background-danger);
}

.large {
  font-size: 1.125rem;
}

.flex,
.flex-column {
  display: flex;

  &.gap {
    gap: 0.5rem;
  }

  &.gap-1 {
    gap: 1rem;
  }

  &.gap-2 {
    gap: 2rem;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.justify-evenly {
    justify-content: space-evenly;
  }

  &.items-baseline {
    align-items: baseline;
  }

  &.items-center {
    align-items: center;
  }

  &.items-start {
    align-items: flex-start;
  }

  &.items-end {
    align-items: flex-end;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 0%;
}

.p-relative {
  position: relative;
}

@mixin padding-variant($id: 1) {
  .p-#{$id} {
    padding: $id * 0.5rem;
  }

  .pb-#{$id} {
    padding-bottom: $id * 0.5rem;
  }

  .pl-#{$id} {
    padding-left: $id * 0.5rem;
  }

  .pr-#{$id} {
    padding-right: $id * 0.5rem;
  }

  .pt-#{$id} {
    padding-top: $id * 0.5rem;
  }

  .px-#{$id} {
    padding-left: $id * 0.5rem;
    padding-right: $id * 0.5rem;
  }

  .py-#{$id} {
    padding-bottom: $id * 0.5rem;
    padding-top: $id * 0.5rem;
  }
}

@mixin margin-variant($id: 1) {
  .m-#{$id} {
    margin: $id * 0.5rem;
  }

  .mb-#{$id} {
    margin-bottom: $id * 0.5rem;
  }

  .ml-#{$id} {
    margin-left: $id * 0.5rem;
  }

  .mr-#{$id} {
    margin-right: $id * 0.5rem;
  }

  .mt-#{$id} {
    margin-top: $id * 0.5rem;
  }

  .mx-#{$id} {
    margin-left: $id * 0.5rem;
    margin-right: $id * 0.5rem;
  }

  .my-#{$id} {
    margin-bottom: $id * 0.5rem;
    margin-top: $id * 0.5rem;
  }
}

@include margin-variant(1);
@include margin-variant(2);
@include margin-variant(3);
@include margin-variant(4);
@include margin-variant(5);
@include margin-variant(6);

@include padding-variant(1);
@include padding-variant(2);
@include padding-variant(3);
@include padding-variant(4);
@include padding-variant(5);
@include padding-variant(6);
